// Initialize font(s)

//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2');
    src: url('fonts/SourceSansPro-Regular.woff') format('woff');
    src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.woff2') format('woff2');
    src: url('fonts/SourceSansPro-Light.woff') format('woff');
    src: url('fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Semibold.woff2') format('woff2');
    src: url('fonts/SourceSansPro-Semibold.woff') format('woff');
    src: url('fonts/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Semibold.woff2') format('woff2');
    src: url('fonts/SourceSansPro-Semibold.woff') format('woff');
    src: url('fonts/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Colors

$font-color: #222 !default;
$lt-blue: #5CB7D1 !default;
$primary-color: $lt-blue !default;
$secondary-color: #e7e7e7 !default;
$alert-color: #E41F00 !default;
$success-color: #3BD369 !default;
$warning-color: #FF9121 !default;
$info-color: #a0d3e8 !default;
$smoke: #EEEEEE !default;
$white-smoke: #F5F5F5 !default;
$med-gray: #888 !default;

$body-bg: #f9f9f9;

.lt-blue {color:$lt-blue;}
.alert-color {color:$alert-color;}
.success-color {color: $success-color;}
.white {color:white;}
.success-icon {color: $success-color}
.alert-icon {color: $alert-color}
.idle-icon {color: darken($secondary-color, 10%);}

// Page layout

.full-width {
	width: 100%;
	margin: auto 0;
	max-width: initial;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.vertical-space {
		padding-top: 0.9375rem;
}
.vertical-space:nth-of-type(1) {
		padding-top: 1.875rem ;
}

$row-width: 100%;
$column-gutter: rem-calc(30);
$total-columns: 12 ;

// Here we define the breakpoints which will become the upper border for each media size.
// The function em-calc() calculates the em-value from a px-value.
// $small-breakpoint:  em-calc(640)  !default;
// $medium-breakpoint: em-calc(1024) !default;
// $large-breakpoint:  em-calc(1440) !default;
// $xlarge-breakpoint: em-calc(1920) !default;

$panel-bg: white !default;

// Footer

footer {
	background-color: $secondary-color;
	border-top: 1px solid darken($secondary-color, 10%);
	small {color: $med-gray;}
	padding: .8rem 0;
	margin-top:65px;
	color: darken($med-gray, 15%);

	[class^="icon-"], [class*=" icon-"] {
	    font-size: 24px;
	    color: darken($med-gray, 15%);
	    &.active {color:darken($primary-color, 15%)}
	    &.disabled {color: lighten($med-gray,25%)}
	    & + a {color: #343434;}
	}

	&.sticky-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 1000;
	}
}

// Typography

$small-font-size: 75%;
$light-weight: 300;
$heavy-weight: 700;
.normal-weight {font-weight: 400;}
$header-font-family: 'Source Sans Pro', sans-serif;
$header-font-weight: $light-weight;
$body-font-family: 'Source Sans Pro', sans-serif;

[class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
}

.inline-list {
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  > li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-left: 1.2rem;
  }
}

// Navigation

$topbar-link-hover-lightness: 10%;
$topbar-link-bg-active: $lt-blue;
$topbar-link-bg-active-hover: $topbar-link-bg-active;
$topbar-link-weight: 300;

$topbar-title-weight: 300;
.title-area {
	.title {
		color: $lt-blue;
		font-weight: 700;
	}
	.label {
		font-weight: 700;
	}
	small {color:$secondary-color;}
}

.top-bar .title-area .right {float: right;}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	font-weight: 400;
}
.top-bar-section li.disabled:not(.has-form) a:not(.button) {
	color: darken($secondary-color, 15%);
	cursor: default;
}

// Customize the output navigation

[id^="output_"], [id*=" output_"] {

	img { // for placeholder images only. @ TODO Adjust this once me hve real images
		border: 1px solid $secondary-color;
		border-top: 0;
		padding-top:10px;
	}

	.top-bar {
		background-color: $secondary-color;
		margin-bottom: 0;
		.title {
			padding: 0 0.9375rem;
			color: $font-color;
			font-size: .85rem;
			font-weight: 300;
		}
	}
	.top-bar-section {

		li:not(.has-form) {
			a:not(.button) {
				background-color: $secondary-color;
				-webkit-transition: background-color .5s;
				transition: background-color .5s;
			}
			a:hover:not(.button) {
				background-color: darken($secondary-color, 18%);
				color: $font-color;
			}
			a.active {
				background-color: $lt-blue;
				color: white;
				font-weight: 400;
			}
			a:hover.active {
				background-color: $lt-blue;
				color: white;
				cursor: default;
			}
			a.close {
				background-color: $alert-color;
				color: white;
			}
			a:hover.close {
				background-color: darken($alert-color, 18%);
				color: white;
			}

		}

		ul li > a {
			color: $font-color;
		}
		ul li.divider {
			border-color: darken($secondary-color, 12%);
		}
	}
}



// Tooltips

$has-tip-border-bottom: none;
$has-tip-font-weight: inherit;
$has-tip-border-bottom-hover: none;

// Tables

table {
	width:100%;
	tr, tr.even, tr.alt, tr:nth-of-type(2n) {
		&.selected {background-color: $info-color;}
	}
}

$table-head-bg: $smoke;
$table-head-font-weight: 400;
$table-even-row-bg: $white-smoke;
td {
	vertical-align: top;
	font-weight: 300;
}
th {font-weight: 400}
th:first-child {width:200px;}

tr.selected {
    background-color: $info-color;
}


// Forms

//inline button for query
.postfix-radius {
	input[type="text"] {border-right: 0}
}

// Getting custom inputs

input[type=radio], input[type=checkbox] {
	visibility: hidden;
}

input[type=radio] + label:before,
input[type=radio]:checked + label:before,
input[type=checkbox] + label:before,
input[type=checkbox]:checked + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align:middle;
  margin-right: 8px;
}

input[type=radio] + label:before {
    background-color: white;
    border: 2px solid darken($secondary-color, 15%);
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    background-color: $primary-color;
    border: 0;
    border-radius: 8px;
}

input[type=checkbox] + label:before {
    background-color: white;
    border: 2px solid darken($secondary-color, 15%);
}

input[type=checkbox]:checked + label:before {
    background-color: $primary-color;
    border: 0;
}